/* General Styles */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #ffffff;
}

header p {
    color: #b0b0b0;
}

.navbar {
    text-align: center;
}

.logo {
    max-width: 100px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 1px solid #666;
}

.btn:hover {
    background-color: #555555;
    transform: scale(1.05);
}

/* About Me Section */
#about {
    text-align: center;
    padding: 50px 20px;
    background-color: #121212;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #666;
}

.about-text {
    max-width: 600px;
    text-align: left;
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #b0b0b0;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .profile-pic {
        margin: 0 0 20px 0;
    }

    .about-text {
        text-align: center;
    }
}

/* Projects */
#projects {
    padding: 40px;
    text-align: center;
}

.project-card {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 400px;
    transition: 0.3s;
    border: 1px solid #333;
}

.project-card:hover {
    transform: scale(1.05);
    border-color: #666;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #333;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
