body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

header {
    background: #415061; // it was#007bff
    color: grey; // it was white
    padding: 20px;
}

header h1 {
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #0056b3;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.project {
    background: #eef;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}
